.login {
  height: 100vh;
}
.loginBtn {
  background-color: #712e2e;
  color: white;
  border: none;
}
input {
  border-radius: 10px;
  height: 40px;
  background-color: #d0d0d0;
  outline: none;
  border: none;
}
label {
  color: #605d5d;
}
